@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=Voltaire);

$silver: #C7D1D1;

h1,h2,h3,h4,h5,h6 	{
	font-family: 'PT Sans Narrow', sans-serif;
}

p 	{
	font-family: 'PT Serif', serif;
	font-size: 20px;
}

body {
	background-color:black;
}

footer{
		p {
			text-shadow: 0 0 3px #3D87F5;
			font-size: 30px;
		}
	}

.jerpicrotate1	{
	transform: rotate(7deg);
}

.jerpicrotate2	{
	transform: rotate(-3deg);
}

.jerpicrotate3	{
	transform: rotate(2deg);
}

.jerpicrotate4	{
	transform: rotate(-4deg);
}

.jerpicrotate5	{
	transform: rotate(4deg);
}

.jerheadingtext	{
	font-family: 'PT Sans Narrow', sans-serif;
}

.jernavpic	{
	display: inline-block; 
	display: inline;
}

.jerpaddingleft	{
	padding-left:15px;
}

.jermargin	{
	margin: auto;
}

.jervertalign	{
	padding-top: 40px;
}

.jersilvershadow	{
	box-shadow: 3px 3px 5px $silver;
}

iframe:hover { 
    border-style: solid;
    border-width: 4px;
    border-color: #10B5E4;
}

.jerpicborder	{ 
    border-style: solid;
    border-width: 4px;
    border-color: #10B5E4;
}

.jerbackgroundspace	{
	background: url(../images/space.jpg) center;

}

.jerbackgroundknot	{
	background: url(../images/knot.png) no-repeat center;

}

#margintop15px	{
	margin-top:15px;
}

.jeriframe	{
    display:block;
    width:100%;
    margin-top: 15px;
}

.jertext	{
	color:$silver;
}

.jertextheader	{
	color: $silver;
	font-family: 'Voltaire', sans-serif;
	font-size: 40px;
}

.jerborder	{
	border-style: solid;
    border-width: 5px;
    border-color: yellow;
}

.jersilver	{
	color: $silver;
}

.jergradient1	{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,004970+25,000000+46 */
background: #000000; /* Old browsers */
background: -moz-linear-gradient(left,  #000000 0%, #004970 25%, #000000 46%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #000000 0%,#004970 25%,#000000 46%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #000000 0%,#004970 25%,#000000 46%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */

}
.jergradient2	{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,004970+27,004970+71,000000+100 */
background: #000000; /* Old browsers */
background: -moz-linear-gradient(left,  #000000 0%, #004970 27%, #004970 71%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #000000 0%,#004970 27%,#004970 71%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #000000 0%,#004970 27%,#004970 71%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */

}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	float: left;
}

